.short-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.short-description__heading {
  margin-top: 40px;
}

.short-description__image {
  justify-content: center;
}
